* {
  -fx-font-family: -apple-system, "Segoe UI", sans-serif;
}

VBox {
  -fx-background-color: #202124;
}

HBox {
  -fx-padding: 10;
}

.nav-button {
  -fx-background-color: #333;
  -fx-text-fill: white;
  -fx-padding: 10px 20px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-cursor: hand;
}

.nav-button:hover {
  -fx-background-color: #444;
}